body{
    background-image: url("https://filestore.community.support.microsoft.com/api/images/2f02386f-b3a6-483a-9a9c-d16b45746f11?upload=true"); 
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.menu-container{
  position: absolute;
  top:0px;
  z-index: 1;
}
.menu ul{
    list-style: none;
    margin: 5px;
    padding: 0 25px;
  }
   
  .menu li{
    float: left;
    position: relative;
    width: 150px;
  }
   
  .menu ul li ul{
    display: none;
  }
   
  .menu ul li:hover ul{
    display: block;
  }
   
  .menu ul li a{
    text-decoration: none;
    background: #333;
    display: block;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    border-bottom: 2px solid red;
    border-left: 1px solid #595959;
    padding: 5px;
  }
   
  .menu ul li ul li a{
    background: #595959;
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid #333;
    font-size: .8em;
  }
   
  .menu li a:hover{
    background: rgb(248,140,0);
    transition: .5s;
  }
   
  .menu ul li ul li a:hover{
    padding-left: 15px;
  }

  .ara{
    display: flex;
    float: right;
    padding-right: 15px;
    margin: 0 -575px;
  }

  button{
    background-color: brown;
    color: bisque;
  }

  #slider-container{
    display: flex;
    justify-content: center;
    border: 1px;
   }

#slider{
    overflow: hidden;
    position: relative;
}
.imgSlide{
    width: 100vw;
    height: 100vh;
}
#control{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:5px;
    right: 5px;
    height: 50px;
    width: 220px;   
}

#control a{
    text-decoration: none;
    background-color: cadetblue;
    color: navy;
    display: inline-block;
    width: 100px;
    height: 40px;
    margin-right: 4px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    font-weight: bold;
    opacity: 0.7;
}
.projects{
    display: flex;
}

.project{
    border: 1px solid white;
    width: 200px;
    height: 100px;
    float: left;
    margin: 0 50px;
}

.imgProject{
    width: 200px;
    height: 100px;
}
.pProject{
    background-color: aliceblue;
    margin-top: 0px;
}

.main-popup{
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: none;
}

.popup{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:100%;
    max-width: 450px;
    height: 300px;
    margin: auto;
    margin-top:150px;
    padding: 30px;
    background-color: white;
    position: relative;
    border-radius: 15px;
    border:5px solid brown;
}

.popup a{
    /*background-color: red;*/
    color:white;
    padding: 5px 10px;
    text-decoration: none;
}

.close-popup{
    position: absolute;
    top:4px;
    right:6px;
    border:1px solid black;
    border-radius: 3px;
    cursor: pointer;
    text-align:center;
    padding:2px 8px;
    font-family: Consolas;
    font-weight: bold;
    background-color: red;
    color:white;
}

.footer{
    color: white;
    text-align: center;
}
    


